@use '../../styles/variables.scss' as *;

.section {
  padding: 40px 0;
}

.title {
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
  color: $light-cyan;
  margin-bottom: 37px;
  text-transform: uppercase;
}

.stepContent {
  display: flex;
  flex-direction: column;
}

.slider {
  margin-bottom: 20px;
}
