@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');

$fontFamily: 'Montserrat', sans-serif;
$fontSize: 16px;
$minWidth: 320;
$maxWidth: 1920;

$mainColor: #fff;
$mainBg: #1a2328;

$cyan: #00897b;
$light-cyan: #46cfa1;
$dark-cyan: rgba(57, 191, 168, 0.2);
$cyan-hover: #07d8c2;
$dark-cyan-hover: rgba(57, 191, 168, 0.8);

$grey: #37474f;
$dark-grey: #2b3238;
$light-grey: #90a4ae;

$dark-red: rgba(226, 38, 38, 0.32);

.istok-web {
  font-family: 'Istok Web';
}
