@use '../../styles/variables.scss' as *;

.section {
  max-width: 360px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 18px;
    font-weight: 800;
    line-height: 21.94px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 21px;
  }

  .upd {
    font-size: 12px;
    font-weight: 300;
    line-height: 14.63px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 21px;
    color: $light-grey;
  }

  .circle {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 800;
    transition: background 0.5s ease-in-out;

    div {
      width: 144px;
      height: 144px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $mainBg;
    }

    &.empty {
      border: 4px solid rgba(226, 38, 38, 0.32);
      box-shadow: none;
    }

    .marker {
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #39BFA8;
      border-radius: 50%;
    }
  }

}

label {
  font-weight: 500;
  line-height: 19.5px;
  text-align: justified;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  align-self: flex-start;
  margin: 30px 0 6px 0;
}

.line {
  display: flex;
  align-items: center;
  gap: 2px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  min-width: 100%;
}

.copyField {
  text-align: center;
  flex: 1 1 100%;
  padding: 12px 7px;
  background-color: $grey;
}

.key {
  font-weight: 300;
  word-break: break-all;
  color: $light-grey;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.copyButton {
  background-color: $cyan;
  height: 43px;
  width: 36px;
  flex: 0 0 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  &>img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}

.copyState {
  pointer-events: none;
  font-size: 12px;
  font-weight: 300;
  color: $light-grey;
  line-height: 1.5;
}

.info {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 18px 0 35px 0;

  p {
    font-weight: 500;
    line-height: 19.5px;
    text-align: justified;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    .subscription {
      margin-left: 5px;
      padding: 4px 6px;
      background-color: $secondaryDark;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 900;
      line-height: 17.07px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: $light-cyan;
      text-transform: uppercase;

      span {
        background: linear-gradient(180deg, #46CFA1 0%, #3E755F 100%);
        -webkit-background-clip: text;
        color: transparent;
      }
    }

    .date {
      margin-left: 5px;
      padding: 4px 6px;
      background-color: $secondaryDark;
      border-radius: 5px;
      font-weight: 500;
      line-height: 19.5px;
      text-align: justified;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }
}