@use '../../styles/variables.scss' as *;

.button {
    min-width: 180px;
    min-height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid $cyan;
    background-color: $dark-cyan;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: $cyan;
    }
}