@use './styles/variables.scss' as *;

.app {
  position: relative;
  display: flex;
  flex-direction: column;
}

.viewContainer {
  flex: 1 1 100%;
  margin-bottom: 68px;
}

.nav {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $dark-grey;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 4px 0;
}

.listItem {
  //убрать синий фон при клике на интерактив
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
  padding: 0 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  height: 60px;
  @media (any-hover: hover) {
    &:hover {
      background-color: $cyan-hover;
    }
  }
  &.active {
    background-color: $cyan;
  }
  & > span {
    font-size: 12px;
    line-height: 1.5;
  }
}

.imageContainer {
  width: 30px;
  height: 30px;
  position: relative;
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
  }
}
