@use '../../../styles/variables.scss' as *;

.step {
  background-color: $dark-grey;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.titleContainer {
  background-color: $grey;
  position: relative;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  padding: 15px 30px;
}

.content {
  font-weight: 500;
  padding: 30px 15px;
  overflow: hidden;
  & ul {
    display: flex;
    flex-direction: column;
    & > li {
      position: relative;
      padding-left: 15px;
      line-height: 1.5;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 3px;
        height: 3px;
        background-color: #fff;
        border-radius: 50%;
        transform: translateY(-50%);
      }
    }
  }
  & p {
    font-weight: 300;
    color: $light-grey;
    text-align: center;
  }
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
  & > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

//=STEP=1======================================================================================================================================================
.label {
  margin-bottom: 20px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.installationLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  & > img {
    width: 58px;
    height: 58px;
    padding: 13px;
    background-color: $dark-cyan;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
  }
  & > span {
    font-size: 12px;
  }
  @media (any-hover: hover) {
    &:hover {
      & > img {
        background-color: $cyan;
      }
    }
  }
}
//=STEP=2======================================================================================================================================================
.line {
  display: flex;
  align-items: center;
  gap: 2px;
  overflow: hidden;
  border-radius: 10px;
}

.copyField {
  padding: 12px 7px;
  background-color: $grey;
}

.key {
  font-weight: 300;
  word-break: break-all;
  color: $light-grey;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.copyButton {
  background-color: $cyan;
  height: 43px;
  width: 36px;
  flex: 0 0 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  & > img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}

.copyState {
  font-size: 12px;
  font-weight: 300;
  color: $light-grey;
  line-height: 1.5;
}
//=CONNECTION=======================================================================================================================================================
p.desc {
  font-weight: 500;
  line-height: 1.4;
  font-size: 16px;
  color: $mainColor;
  text-align: left;
}
